

<!-- People -->
    <body>
        <section class="wrapper style1 align-left" id="people">
            <div class="inner">
                <h1>Meet the team</h1>
                <div class="items style1 big onscroll-fade-in">
                    <section>
                        <div class="member-photo">
                            <figure class="image-fit">
                                <img src="./images/people/01_vargas.jpg" alt="German Vargas Gutiérrez" style="width: 300px; height: auto;">
                            </figure>
                        </div>
                        <h3>German Vargas Gutiérrez</h3>
                        <p style="margin-bottom: 5px;">Assistant Professor</p>
                        <p style="margin-bottom: 5px;">I am a plant ecophysiologist interested in understanding how plants and ecosystems respond to climate change.</p>
                        <p style="margin-bottom: 5px;">Tropical Ecology | Ecophysiology | Ecological Forecasting | Legumes </p>
                        <p style="margin-bottom: 5px;"><a href="mailto:vargasgg@oregonstate.edu">vargasgg@oregonstate.edu</a></p>
                    </section>
                    <section>
                        <div class="member-photo">
                            <figure class="image-fit">
                                <img src="" alt="" style="width: 300px; height: auto;">
                            </figure>
                        </div>
                        <h3></h3>
                        <p style="margin-bottom: 5px;"></p>
                        <p style="margin-bottom: 5px;"></p>
                        <p style="margin-bottom: 5px;"></p>
                        <p style="margin-bottom: 5px;"><a href="mailto:"></a></p>
                    </section>
                </div>
                <ul class="actions stacked">
                    <li><a href="./index.html" class="button">Home</a></li>
                </ul>
            </div>
        </section>
    </body>