{{ define "main" }}

	{{ partial "A_banner" site.Data.A_banner }}
	{{ partial "research_header" site.Data.research_header }}
	{{ partial "spotlight" site.Data.spotlight4 }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	<!-- {{ partial "spotlight" site.Data.spotlight3 }} -->
	{{ partial "gallery" site.Data.gallery }}
	<!-- {{ partial "items" site.Data.items }} -->
<!-- 	{{ partial "elements" . }}
	{{ partial "elements_reference" . }} -->
	{{ partial "footer" . }}

{{ end }}